body {
    font-family: Roboto, system-ui,PingFang TC,Heiti TC,sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

#wrapper{
    margin: 0 10% 0 10%;
}

.main-heading {
    background-image: url('image/home.png');
    background-size:cover;
    background-position:bottom;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin: 0;
    padding-top: 50px;
    padding-left: 10%;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    font-size: 25px;
}

.section{
    margin:-50px 0 100px 0;
}

.sectionStyle1, .sectionStyle2 {
    margin:20px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #ccc solid;
    gap: 20px;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.sectionStyle1:hover,.sectionStyle2:hover, .sectionStyle1:focus, .sectionStyle2:focus {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    outline: none;
}

.sectionStyle2 {
    justify-content: center;
    gap: 60px;
}

.sectionStyle1 b,.sectionStyle2 b{
    color: rgb(13, 54, 92);
}

h2{
    color: rgb(27, 74, 121);
}

.sectionStyle1 img{
    margin-left: 20px;
}

.sectionStyle1 img:hover{
    transform: scale(1.1);
}

/* back-to-top */
.footer-container .back-to-top a:after {
    background: url(image/back-to-top.svg) no-repeat center center;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    display: block;
    content: " ";
    left: 12.5px;
    top: 12.5px;
    position: absolute;
    border-radius: 50%;
}
.footer-container .back-to-top a:hover {
    transform: scale(1.05);
}
.footer-container .back-to-top {
    display: none; /* Hide the button by default */
    position: fixed;
    bottom: 50px;
    right: 3.5%;
    z-index: 999;
}
.footer-container .back-to-top a {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    background: rgb(13, 54, 92);
    -webkit-border-radius: 2px;
    border-radius: 50%;
}
.footer-container a {
    color: #ffffff;
}

h2{
    position: relative;
}

h2::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -10px;
    height: 4px;
    border-radius: 50px;
    width: 0;
    background: rgb(13, 54, 92);
    transition: width .3s ease;
    width: 30%;
}

h2:hover::before{
    width: 100%;
}

#displayGrade:hover {
    cursor: pointer;
}

table {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    border-collapse: collapse;
    transition: transform 0.3s ease;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

tr:not(:last-child) {
    border-bottom: 1px solid #ccc; /* Add inner border to all cells except the last row */
}

th{
    background-color: rgb(13, 54, 92);
    color: white;
}

th, td {
    width: 50%;
    text-align: center;
    padding: 15px 25px;
}

th:first-child {
    border-right: 1px solid #ccc;
}

td:first-child {
    border-right: 1px solid #ccc;
}

table:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    outline: none;
}

@media (max-width: 780px) {
    #wrapper{
        margin: 0 0 0 5px;
    }

    .sectionStyle1 {
        font-size: 1em;
        display: grid;
        width: 90%;
    }

    .sectionStyle1 img{
        margin-bottom: 30px;
    }

    .sectionStyle2 {
        display: grid;
        width: 90%;
    }

    table {
        width: 100%;
        margin: 0;
    }
    table tr {
        width: 100%;
    }
    table td {
        width: 100%;
    }

    #copyright {
        padding: 10px; 
        width: 100%; 
        background-color: rgb(25, 53, 89); 
        color: white;
    }
}

@media (min-width: 1950px) {
    .main-heading {
        height: 450px;
    }
}
